<!DOCTYPE html>
<html>
    <body ng-app="directoryApp">
        <div ng-controller="ItemController">
            <form novalidate class="simple-form">
                <h2>Add New Listing</h2>
                itemId: <input type="text" ng-model="newListing.itemId" /><br />
                Title: <input type="text" ng-model="newListing.title" /><br />
                Category: <input type="text" ng-model="newListing.category" /><br />
                Price: <input type="text" ng-model="newListing.price" /><br />
                Description: <input type="text" ng-model="newListing.description" /><br />
                Condition: <input type="text" ng-model="newListing.condition" /><br />
                Location: <input type="text" ng-model="newListing.location" /><br />
                Buyer: <input type="text" ng-model="newListing.buyer.name" /><br />
                Buyer email: <input type="text" ng-model="newListing.buyer.email" /><br />
                Seller: <input type="text" ng-model="newListing.seller.name" /><br />
                Seller email: <input type="text" ng-model="newListing.seller.email" /><br />
                Complete: <input type="text" ng-model="newListing.complete" /><br />
                Flagged: <input type="text" ng-model="newListing.flagged" /><br />
                <button class="btn btn-primary" ng-click="saveBuying()">Save Buying Listing</button>
                <button class="btn btn-primary" ng-click="saveSelling()">Save Selling Listing</button>

                <!-- <input type="button" onclick="location.href='/index.html';"value="Return to Listings" /> -->
            </form>
        </div>
    
        <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/factories/itemFactory.js"></script>
        <script src="js/controllers/itemController.js"></script>

    </body>
</html>


