<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='../css/signup.css'>
</head>

<body ng-app="ufxApp">
<div ng-controller="accountController">

  <div class="container">
    <form novalidate class="simple-form">
      
    
      <h1>Update Your User Account</h1>
      <p>Please fill in this form to update your account.</p>
      <hr>
      
      <h1>Hi {{user.name}} </h1>
      
      Name: <input type="text" placeholder={{user.name}} ng-model="updatedUser.name" required><br/>

      Username: <input type="text" placeholder={{user.username}} ng-model="updatedUser.username"  required><br/>

      Email: <input type="text" placeholder={{user.email}} ng-model="updatedUser.email"  required><br/>

      Password: <input type="password" placeholder="Enter Password" ng-model="updatedUser.password"  required><br/>

      Retype Password: <input type="password" placeholder="Retype Password" ng-model="updatedUser.retypePassword"  required><br/>

    </form>

    <div class="clearfix">
      <button type="submit" class="signupbtn" ng-click="update()">Update</button>

      <button type="submit" class="deletebtn" ng-click="delete()">Delete Account</button>


      <a href="userLanding.html">
          <button type="button" class="cancelbtn">Cancel</button>
      </a>

    </div>

  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->

  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="../app.js"></script>
  <script src="../factories/userFactory.js"></script>
  <script src="../controllers/accountClientController.js"></script>

  </div>
</div>
</body>
</html>
