<!DOCTYPE html>
<html>
<head>
    <title>Listing Details</title>
    <link rel='stylesheet' type='text/css' href='../css/listing.css'>
</head>

    <body ng-app="ufxApp">

        <h1>Listing</h1>
        <div ng-controller="ItemController">
        <a ng-init="details()"></a>
        <div class="product">
            <body>
                <img ng-src="{{response}}">
  
                  <h3 class="shiftright">
                    {{detailedInfo.title}}
                    <h4 class="shiftright">
                        Price: ${{detailedInfo.price}} <br>
                        Selling <br>
                        <button ng-click="buyNow()">Buy Now</button>
                        <button ng-click="sendMail()">Email User</button>
                        <button ng-click="flagListing()">Flag Listing</button>
                        <button ng-click="flagUser()">Flag User</button>
                        <button ng-click="favorite()">Like Listing</button>


                        <!-- <button>Message Seller</button><br> -->
                        <h5 class="shiftright">
                        User: {{detailedInfo.seller.name}} <br>
                        Condition: {{detailedInfo.condition}} <br>
                        Meeting Location: {{detailedInfo.location}} <br>
                        </h5>
                    </h4>
                    </h3>

                <!-- <h4 align="right"> {{sellingInfo.title}} <br> {{sellingInfo.buyer.name}}<br>{{sellingInfo.buyer.email}} -->
                </h2>
            </body>
            <br>

            <section class="description">

            <details>
            <summary >Product Specs</summary>
            <div>
                <!-- ItemId: {{detailedInfo._id}} <br> -->
                Category: {{detailedInfo.category}} <br>
                Description: {{detailedInfo.description}}<br>
            </div>
            </details>


            </section>

        </div>
        </div>

    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-route.js"></script>
    <script src="../app.js"></script>
    <script src="../factories/itemFactory.js"></script>
    <script src="../controllers/itemController.js"></script>

    </body>
</html>
