<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='../css/postListing.css'>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
        

</head>
<html>
    <body ng-app="ufxApp"></body>
        <div ng-controller="ItemController">
            <form novalidate class="simple-form">
                <h2>Add New Item</h2>
                Title: <input type="text" ng-model="newItem.title" /><br />

                <!-- category dropdown -->
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Textbooks')">Textbooks</a>
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Electronics')">Electronics</a>
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Vehicles')">Vehicles</a>
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Tickets')">Tickets</a>
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Clothing')">Clothing</a>
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Entertainment')">Entertainment</a>
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Housing')">Housing</a>
                        <a class="dropdown-item" href="#" ng-click ="setCategory('Miscellaneous')">Miscellaneous</a>
                    </div>
                </div>
                <br />

                Price: <input type="text" ng-model="newItem.price" /><br />
                Description: <input type="text" ng-model="newItem.description" /><br />
                
                <!-- condition dropdown -->
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Condition
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" ng-click ="setCondition('New')">New</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Like New')">Like New</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Good')">Good</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Fair')">Fair</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Poor')">Poor</a>
                    </div>
                </div>
                <br />
                
                Buyer: <input type="text" ng-model="newItem.buyer.name" /><br />
                Buyer email: <input type="text" ng-model="newItem.buyer.email" /><br />
                Seller: <input type="text" ng-model="newItem.seller.name" /><br />
                Seller email: <input type="text" ng-model="newItem.seller.email" /><br />

                <!-- location dropdown -->
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Location
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" id = "ct" ng-click ="setLocation('Century Tower')">Century Tower</a>
                        <a class="dropdown-item" href="#" id = "ru" ng-click ="setLocation('Reitz Union')">Reitz Union</a>
                        <a class="dropdown-item" href="#" id = "hub" ng-click ="setLocation('Hub')">Hub</a>
                        <a class="dropdown-item" href="#" id = "lw" ng-click ="setLocation('Library West')">Library West</a>
                        <a class="dropdown-item" href="#" id = "sw" ng-click ="setLocation('Southwest Rec')">Southwest Rec</a>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-primary" ng-click="saveBuying()">Save Buying Item</button>
                <button class="btn btn-primary" ng-click="saveSelling()">Save Selling Item</button>

                <!-- <input type="button" onclick="location.href='/index.html' "value="Return to Items" /> -->
            </form>
        </div>

        <br />
        <div id='map' style='width: 400px; height: 300px;'></div>
 
        <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
        <script src="../app.js"></script>
        <script src="../postListing.js"></script>
        <script src="../factories/itemFactory.js"></script>
        <script src="../controllers/itemController.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
