<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<html>
    <body ng-app="ufxAppItem"></body>
        <div ng-controller="ItemController">
            <form novalidate class="simple-form">
                <h2>Add New Item</h2>
                itemId: <input type="text" ng-model="newItem.itemId" /><br />
                Title: <input type="text" ng-model="newItem.title" /><br />
                Category: <input type="text" ng-model="newItem.category" /><br />
                Price: <input type="text" ng-model="newItem.price" /><br />
                Description: <input type="text" ng-model="newItem.description" /><br />
                <!-- Condition: <input type="text" ng-model="newItem.condition" /><br /> -->
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Condition
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" ng-click ="setCondition('New')">New</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Like New')">Like New</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Good')">Good</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Fair')">Fair</a>
                        <a class="dropdown-item" href="#" ng-click ="setCondition('Poor')">Poor</a>
                    </div>
                </div>
                <br />
                <!-- Location: <input type="text" ng-model="newItem.location" /><br /> -->
                Buyer: <input type="text" ng-model="newItem.buyer.name" /><br />
                Buyer email: <input type="text" ng-model="newItem.buyer.email" /><br />
                Seller: <input type="text" ng-model="newItem.seller.name" /><br />
                Seller email: <input type="text" ng-model="newItem.seller.email" /><br />
                Complete: <input type="text" ng-model="newItem.complete" /><br />
                Flagged: <input type="text" ng-model="newItem.flagged" /><br />

                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Location
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" ng-click ="setLocation('Century Tower')">Century Tower</a>
                        <a class="dropdown-item" href="#" ng-click ="setLocation('Reitz Union')">Reitz Union</a>
                        <a class="dropdown-item" href="#" ng-click ="setLocation('Hub')">Hub</a>
                        <a class="dropdown-item" href="#" ng-click ="setLocation('Library West')">Library West</a>
                        <a class="dropdown-item" href="#" ng-click ="setLocation('Southwest Rec')">Southwest Rec</a>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-primary" ng-click="saveBuying()">Save Buying Item</button>
                <button class="btn btn-primary" ng-click="saveSelling()">Save Selling Item</button>

                <!-- <input type="button" onclick="location.href='/index.html' "value="Return to Items" /> -->
            </form>
        </div>
    
        <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
        <script src="../app.js"></script>
        <script src="../factories/itemFactory.js"></script>
        <script src="../controllers/itemController.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>


