<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='../css/login.css'>
    
</head>

<body>
    <div ng-app="ufxApp" class="cont">
        <div ng-controller="FlashDemoCtrl">
            <h3>Click on any button</h3>
            <a class="link" target="_blank" href="https://github.com/sachinchoolur/angular-flash">View on Github</a>
            <br/>
            <button class="btn btn-success" ng-click="success()">Success</button>
            <button class="btn btn-info" ng-click="info()">Info</button>
            <button class="btn btn-warning" ng-click="warning()">Warning</button>
            <button class="btn btn-danger" ng-click="danger()">Danger</button>
            <flash-message duration="5000"></flash-message>
        </div>
    </div>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="../app.js"></script>
<script src="../factories/userFactory.js"></script>
<script src="../controllers/loginClientController.js"></script>
<!-- 
<h3> Flash messages in Express 4 </h3>
<p><a href="http://localhost:3000/addFlash">Click here</a> for a flash message using the express-flash module.</p>
<p>Refresh to clear the flash message.</p> -->


</body>
</html>
