<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>

<body ng-app="ufxApp">

<div ng-controller="accountController">


    <!-- <h1>My name is {{$scope.user.name}}</h1> -->
    <h1>Welcome to Your User Dashboard</h1>

    <br><a href="postListing.html" class="btn btn-default">Post A Listing!</a><br>
    <br><a href="account.html" class="btn btn-default">Update User</a><br>
    
    <!-- <button type="submit" class="signupbtn" ng-click="getCurrentUserInfo($_id)">Get Current User Info</button> -->
    <button type="submit" class="signupbtn" ng-click="getCurrentUserInfo($username)">Get Current User Info</button>


</div>

<!-- <h2>Post a Listing</h2> -->
<!-- <button type="button"><a href="dummyIndex.html"></a>Click Me!</button> -->



<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="../app.js"></script>
<script src="../factories/userFactory.js"></script>
<script src="../controllers/accountClientController.js"></script>


</body>
</html>
