<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='../css/newUserLanding.css'>
    <link rel='stylesheet' type='text/css' href='../css/postListing.css'>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<html>
<title>UFX</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="newUserLanding.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- modal for bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:100%;">
        <div class="modal-content" style = "width: 100%">
            <div class="modal-header">
                <h5 class="modal-title" style = "width: 100%" id="exampleModalLabel">Create New Listing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            <html>
            <body ng-app="ufxApp"></body>
            <div ng-controller="ItemController">
              <form novalidate class="simple-form">
                Title: <input type="text" ng-model="newItem.title" /><br />

                <!-- category dropdown -->
                <div class="btn-group">
                  <a class="btn btn-secondary btn-sm dropdown-toggle" style="color: #fff" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span id="dropdown_title1">Category</span>
                  </a>

                  <div ID="divNewNotifications1" class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Textbooks')">Textbooks</a></li>
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Electronics')">Electronics</a></li>
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Vehicles')">Vehicles</a></li>
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Tickets')">Tickets</a></li>
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Clothing')">Clothing</a></li>
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Entertainment')">Entertainment</a></li>
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Housing')">Housing</a></li>
                    <li><a class="dropdown-item" href="#" ng-click ="setCategory('Miscellaneous')">Miscellaneous</a></li>
                  </div>
                </div>
                <br />

                Price: <input type="text" ng-model="newItem.price" /><br />
                Description: <input type="text" ng-model="newItem.description" /><br />

                <!-- condition dropdown -->
                <div class="btn-group">
                  <a class="btn btn-secondary btn-sm dropdown-toggle" style="color: #fff" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span id="dropdown_title2">Condition</span>
                      <!-- <button class="btn btn-secondary btn-sm"  aria-haspopup="true" aria-expanded="false" >
                              Location
                      </button> -->
                  </a>

                  <div ID="divNewNotifications2" class="dropdown-menu">
                    <li><a class="dropdown-item" id="new" href="#" ng-click ="setCondition('New')">New</a></li>
                    <li><a class="dropdown-item" id="likenew" href="#" ng-click ="setCondition('Like New')">Like New</a></li>
                    <li><a class="dropdown-item" id="good" href="#" ng-click ="setCondition('Good')">Good</a></li>
                    <li><a class="dropdown-item" id="fair" href="#" ng-click ="setCondition('Fair')">Fair</a></li>
                    <li><a class="dropdown-item" id="poor" href="#" ng-click ="setCondition('Poor')">Poor</a></li>
                  </div>
                </div>
                <br />

                    <!-- location dropdown -->
                    <br />
                    <div class="btn-group">
                        <!-- <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Location
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id = "ct" ng-click ="setLocation('Century Tower')">Century Tower</a></li>
                            <li><a class="dropdown-item" href="#" id = "ru" ng-click ="setLocation('Reitz Union')">Reitz Union</a></li>
                            <li><a class="dropdown-item" href="#" id = "hub" ng-click ="setLocation('Hub')">Hub</a></li>
                            <li><a class="dropdown-item" href="#" id = "lw" ng-click ="setLocation('Library West')">Library West</a></li>
                            <li><a class="dropdown-item" href="#" id = "sw" ng-click ="setLocation('Southwest Rec')">Southwest Rec</a></li>
                        </div> -->
                        <a class="btn btn-secondary btn-sm dropdown-toggle" style="color: #fff" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="dropdown_title3">Location</span>
                            <!-- <button class="btn btn-secondary btn-sm"  aria-haspopup="true" aria-expanded="false" >
                                    Location
                            </button> -->
                        </a>

                        <div ID="divNewNotifications3" class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id = "ct" ng-click ="setLocation('Century Tower')">Century Tower</a></li>
                            <li><a class="dropdown-item" href="#" id = "ru" ng-click ="setLocation('Reitz Union')">Reitz Union</a></li>
                            <li><a class="dropdown-item" href="#" id = "hub" ng-click ="setLocation('Hub')">Hub</a></li>
                            <li><a class="dropdown-item" href="#" id = "lw" ng-click ="setLocation('Library West')">Library West</a></li>
                            <li><a class="dropdown-item" href="#" id = "sw" ng-click ="setLocation('Southwest Rec')">Southwest Rec</a></li>

                        </div>
                    </div>
                    <br />
                    <br />

                    <button type="button" ng-click = "setBuyer()" class="btn btn-info">I Am Looking To Buy</button>
                    <button type="button" ng-click = "setSeller()" class="btn btn-info">I Am Looking To Sell</button> <br />

                    <br />
                </form>
            </div>

            <br />
            <div id='map' style='width: 400px; height: 300px;'></div>

            <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
            <script src="../app.js"></script>
            <script src="../postListing.js"></script>
            <script src="../factories/itemFactory.js"></script>
            <script src="../controllers/itemController.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

            </html>
            </div>
        </div>
    </div>
</div>

</div>
<!-- closed modal div -->

<!-- account modal2 div -->

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Your User Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <body ng-app="ufxApp">

                  <div class="container"  style="width:100%" >

                    <div class="row" ng-controller="accountController">
                      <form novalidate class="simple-form"  style="width:100%">

                          <h4 style="color:black">Hello {{currentuser.name}} </h4>

                          <div class="input-field">
                              <label for="name">Name:</label>
                              <input type="text" class="form-control" placeholder={{currentuser.name}} ng-model="updatedUser.name" required><br/>
                          </div>

                          <div class="input-field">
                              <label for="username">Username:</label>
                              <input type="text" class="form-control" placeholder={{currentuser.username}} ng-model="updatedUser.username" required><br/>
                          </div>

                          <div class="input-field">
                              <label for="username">Email:</label>
                              <input type="text" class="form-control" placeholder={{currentuser.email}} ng-model="updatedUser.email" required /><br />
                          </div>

                          <div class="input-field">
                              <label for="password">Password:</label>
                              <input type="password" class="form-control"  placeholder="Enter Password" ng-model="updatedUser.password" required/><br />
                          </div>

                          <div class="input-field">
                              <label for="password">Retype Password:</label>
                              <input type="password" class="form-control" placeholder="Retype Password" ng-model="updatedUser.retypePassword" required/><br />
                          </div>
                      </form>

                      <br />
                      <div class="col-xs-12">
                          <input id="acctBtn" type="submit" class="btn btn-info" ng-click="update()" value="Update">
                          <input id="acctBtn" type="submit" class="btn btn-info" ng-click="delete()" value="Delete">
                      </div>
                    </div>
                      </div>
                  </div>
            </div>
            <!-- END fh5co-wrapper -->

            <!-- jQuery -->

            <script src="js/morejs/jquery.min.js"></script>
            <!-- jQuery Easing -->
            <script src="js/morejs/jquery.easing.1.3.js"></script>
            <!-- Bootstrap -->
            <script src="js/morejs/bootstrap.min.js"></script>
            <!-- Waypoints -->
            <script src="js/morejs/jquery.waypoints.min.js"></script>
            <script src="js/morejs/sticky.js"></script>

            <!-- Stellar -->
            <script src="js/morejs/jquery.stellar.min.js"></script>
            <!-- Superfish -->
            <script src="js/morejs/hoverIntent.js"></script>
            <script src="js/morejs/superfish.js"></script>
            <!-- Magnific Popup -->
            <script src="js/morejs/jquery.magnific-popup.min.js"></script>
            <script src="js/morejs/magnific-popup-options.js"></script>
            <!-- Date Picker -->
            <script src="js/morejs/bootstrap-datepicker.min.js"></script>
            <!-- CS Select -->
            <script src="js/morejs/classie.js"></script>
            <script src="js/morejs/selectFx.js"></script>

            <!-- Main JS -->
            <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
            <script src="/js/app.js"></script>
            <script src="../factories/userFactory.js"></script>
            <script src="../controllers/accountClientController.js"></script>
            <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
            </div>
            </body>
    </div>
</div>

<!-- closed account modal2 div -->
<body ng-app="ufxApp">
  <header id="fh5co-header-section" class="sticky-banner" ng-controller="accountController">
    <div class="container" >
      <div class="nav-header">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
        <h1 id="fh5co-logo"><a onclick="showSelling()">UFX</a></h1>
        <nav id="fh5co-menu-wrap" role="navigation">
          <!-- <p>
              <input type="text" class="form-control" ng-model="itemSearchBar" id="search" placeholder="Search for...">

          </p> -->
          <ul class="sf-menu" id="fh5co-primary-menu">
            <!-- <div id="user"> -->
                <!-- <li><p style="color:#F78536"><font size=3>Hi {{currentuser.name}}!</font></p></li> -->
            <!-- </div> -->

            <li><a onclick="showMyFavorites()" class="navbar-brand" style="color:#fff"><span class="glyphicon glyphicon-heart" title="my favorites"></span></a></li>
            <li><a onclick="showMyOrders()" class="navbar-brand" style="color:#fff"><span class="glyphicon glyphicon-shopping-cart" title="my orders"></span></a></li>
            <!-- <li><a class="navbar-brand" data-toggle="modal" data-target="#exampleModal" style="color:#fff"><span class="glyphicon glyphicon-plus" title="create a listing"></span></a></li> -->

            <li><a ng-click="postItem()"class="navbar-brand" style="color:#fff"><span class="glyphicon glyphicon-plus" title="create a listing"></span></a></li>

            <li><a data-toggle="modal" data-target="#exampleModal2" class="navbar-brand" style="color:#fff"><span class="glyphicon glyphicon glyphicon-cog" title="settings"></span></a></li>
            <li><a href="#" class="navbar-brand" style="color:#00AD7C" ng-click="logout()"><span class="glyphicon glyphicon-log-out" title="logout"></span></a></li>

          </ul>
        </nav>
      </div>
    </div> 

    <!-- <a onclick="showMyBuyings()" class="w3-bar-item w3-button" style="color:#F78536">My Buy Listings</a></div>
    <a onclick="showMySellings()" class="w3-bar-item w3-button" style="color:#F78536">My Sell Listings</a> -->
  </header>

  <!-- <br /> -->

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:200px">

  <!-- Push down content on small screens -->

  <div ng-controller="ItemController">
      <div id="gray" >
          <p>
            <input type="text" class="form-control" id="search" ng-model="itemSearchBar" placeholder="enter search here" />
          </p>
      <div id="catGray">
        <button id= "catBtn" class ="btn btn-secondary small-btn"  ng-click="filterItems('')">Show All</button>
        <button id= "catBtn" class ="btn btn-secondary small-btn" ng-click="filterItems('Textbooks')">Textbooks</button>
        <button id= "catBtn" class ="btn btn-secondary small-btn" ng-click="filterItems('Electronics')">Electronics</button>
        <button id= "catBtn" class ="btn btn-secondary small-btn" ng-click="filterItems('Vehicles')">Vehicles</button>
        <button id= "catBtn" class ="btn btn-secondary small-btn" ng-click="filterItems('Clothing')">Clothing</button>
        <button id= "catBtn" class ="btn btn-secondary small-btn" ng-click="filterItems('Entertainment')">Entertainment</button>
        <button id= "catBtn" class ="btn btn-secondary small-btn" ng-click="filterItems('Miscellaneous')">Miscellaneous</button>
        <!-- include dropdown for filter of selling listings, buying listings, my buying, my selling -->
      </div>
      <br />
    </div>


    <br />


    <div id="showListings">
      <a onclick="showSelling()" id="sell" style="background-color:#F78536" class ="btn btn-secondary small-btn" >Show Selling Listings</a>
      <a onclick="showBuying()" style="background-color:#F78536" class ="btn btn-secondary small-btn" >Show Buying Listings</a>
    </div>
  
    <br />

    <div id="placeholder1">
      <div class="row">
        <div id="spacing" ng-repeat="items in sellingItems | orderBy: title | filter: itemSearch | filter: itemSearchBar" ng-click="getCurrentItem(items)">
          <div class="w3-col l3 s6">
            <div class="w3-container">
              <div class="w3-display-container">
                <div class="card" style="width:150px">
                    <a href="/js/html/newListing.html">
                        <img class="card-img-top" ng-if="items.image.filename" 
                          data-ng-src="http://localhost:3000/image/{{items.image.filename}}" alt="Card image" style="width:100%; ">
                        <img class="card-img-top" ng-hide="items.image.filename" 
                          src="../images/add-item-icon.png" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title">{{items.title}}</h4>
                        <p class="card-text" >${{items.price}}</p>
                      </div>
                    </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="placeholder2">
        <div class="row">
          <div id="spacing" ng-repeat="items in buyingItems | orderBy: title | filter: itemSearch | filter: itemSearchBar" ng-click="getCurrentItem(items)">
            <div class="w3-col l3 s6">
              <div class="w3-container">
                <div class="w3-display-container">
                  <div class="card" style="width:150px">
                      <a href="/js/html/newListing.html">
                        <img class="card-img-top" ng-if="items.image.filename" 
                          data-ng-src="http://localhost:3000/image/{{items.image.filename}}" alt="Card image" style="width:100%">
                        <img class="card-img-top" ng-hide="items.image.filename" 
                          src="../images/add-item-icon.png" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title">{{items.title}}</h4>
                        <p class="card-text" >${{items.price}}</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div ng-controller="accountController">
          <div id="placeholder3">
            <div id="spacing" ng-repeat="items in sellingItems | orderBy: title | filter: currentuser.email | filter: itemSearch | filter: itemSearchBar" ng-click="getCurrentItem(items)">
              <div class="w3-col l3 s6">
                <div class="w3-container">
                  <div class="w3-display-container">
                      <div class="card" style="width:150px">
                        <a href="/js/html/newListing.html">
                            <img class="card-img-top" ng-if="items.image.filename" 
                              data-ng-src="http://localhost:3000/image/{{items.image.filename}}" alt="Card image" style="width:100%">
                            <img class="card-img-top" ng-hide="items.image.filename" 
                              src="../images/add-item-icon.png" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title">{{items.title}}</h4>
                            <p class="card-text" >${{items.price}}</p>
                          </div>
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row demo-placeholder" id="placeholder4" >
            <div id="spacing" ng-repeat="items in buyingItems | orderBy: title | filter: currentuser.email | filter: itemSearch | filter: itemSearchBar" ng-click="getCurrentItem(items)">
              <div class="w3-col l3 s6">
                <div class="w3-container">
                  <div class="w3-display-container">
                      <div class="card" style="width:150px">
                          <a href="/js/html/newListing.html">
                            <img class="card-img-top" ng-if="items.image.filename" 
                              data-ng-src="http://localhost:3000/image/{{items.image.filename}}" alt="Card image" style="width:100%">
                            <img class="card-img-top" ng-hide="items.image.filename" 
                              src="../images/add-item-icon.png" alt="Card image" style="width:100%">
                            <div class="card-body">
                              <h4 class="card-title">{{items.title}}</h4>
                              <p class="card-text" >${{items.price}}</p>
                            </div>
                        </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div id="placeholder5">
              <div class="row">
                <div id="spacing" ng-repeat="items in userOrders | orderBy: title | filter: itemSearch | filter: itemSearchBar" ng-click="getCurrentItem(items)">
                  <div class="w3-col l3 s6">
                    <div class="w3-container">
                      <div class="w3-display-container">
                        <div class="card" style="width:150px">
                            <a href="/js/html/newListing.html">
                              <img class="card-img-top" ng-if="items.image.filename" 
                                data-ng-src="http://localhost:3000/image/{{items.image.filename}}" alt="Card image" style="width:100%">
                              <img class="card-img-top" ng-hide="items.image.filename" 
                                src="../images/add-item-icon.png" alt="Card image" style="width:100%">
                              <div class="card-body">
                                <h4 class="card-title">{{items.title}}</h4>
                                <p class="card-text" >${{items.price}}</p>
                              </div>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="placeholder6">
                <div class="row">
                  <div id="spacing" ng-repeat="x in favs| orderBy: title | filter: itemSearch | filter: itemSearchBar" ng-click="getCurrentItem(items)">
                    <div class="w3-col l3 s6">
                      <div class="w3-container">
                        <div class="w3-display-container">
                          <div class="card" style="width:150px">
                              <a href="/js/html/newListing.html">
                                <img class="card-img-top" src="../images/add-item-icon.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                  <h4 class="card-title">{{x.title}}</h4>
                                  <p class="card-text" >${{x.price}}</p>
                                </div>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    
    <script>
      function showSelling(){
        document.getElementById("placeholder2").style.display = 'none';
        document.getElementById("placeholder3").style.display = 'none';
        document.getElementById("placeholder4").style.display = 'none';
        document.getElementById("placeholder5").style.display = 'none';
        document.getElementById("placeholder6").style.display = 'none';
        document.getElementById("placeholder1").style.display = 'block';

      }
      function showBuying(){
        document.getElementById("placeholder1").style.display = 'none';
        document.getElementById("placeholder3").style.display = 'none';
        document.getElementById("placeholder4").style.display = 'none';
        document.getElementById("placeholder5").style.display = 'none';
        document.getElementById("placeholder6").style.display = 'none';
        document.getElementById("placeholder2").style.display = 'block';
      }
      function showMySellings(){
        document.getElementById("placeholder1").style.display = 'none';
        document.getElementById("placeholder2").style.display = 'none';
        document.getElementById("placeholder4").style.display = 'none';
        document.getElementById("placeholder5").style.display = 'none';
        document.getElementById("placeholder6").style.display = 'none';
        document.getElementById("placeholder3").style.display = 'block';
      }
      function showMyBuyings(){
        document.getElementById("placeholder1").style.display = 'none';
        document.getElementById("placeholder2").style.display = 'none';
        document.getElementById("placeholder3").style.display = 'none';
        document.getElementById("placeholder5").style.display = 'none';
        document.getElementById("placeholder6").style.display = 'none';
        document.getElementById("placeholder4").style.display = 'block';
      }
      function showMyOrders(){
        document.getElementById("placeholder1").style.display = 'none';
        document.getElementById("placeholder2").style.display = 'none';
        document.getElementById("placeholder3").style.display = 'none';
        document.getElementById("placeholder4").style.display = 'none';
        document.getElementById("placeholder6").style.display = 'none';
        document.getElementById("placeholder5").style.display = 'block';
      }
      function showMyFavorites(){
        document.getElementById("placeholder1").style.display = 'none';
        document.getElementById("placeholder2").style.display = 'none';
        document.getElementById("placeholder3").style.display = 'none';
        document.getElementById("placeholder4").style.display = 'none';
        document.getElementById("placeholder5").style.display = 'none';
        document.getElementById("placeholder6").style.display = 'block';
      }

      </script>
      <style>
        .demo-placeholder {
          display: none;
        }
      </style>

  <!-- Footer -->

  <!-- End page content -->
</div>

<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="../app.js"></script>
<script src="../factories/userFactory.js"></script>
<script src="../controllers/accountClientController.js"></script>
<script src="../factories/itemFactory.js"></script>
<script src="../controllers/itemController.js"></script>

</body>
</html>